In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/home/kali/.local/lib/python3.9/site-packages/pandas/compat/_optional.py:149: UserWarning: Pandas requires version '1.3.1' or newer of 'bottleneck' (version '1.2.1' currently installed).
  warnings.warn(msg, UserWarning)

### Ways to convert the Categorical features into Vectors

In [160]:
df = pd.read_csv('/home/kali/Downloads/benz.csv')

In [161]:
df.columns

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

#### Selecting Qualitative feature

In [162]:
categorical_features = [ ]
for i in df.columns :
    if df[i].dtypes == 'O' :
        categorical_features.append(i)
        
    else :
        df.drop(i, inplace = True, axis = 'columns')

In [163]:
categorical_features

['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8']

In [7]:
df

      X0 X1  X2 X3 X4  X5 X6 X8
0      k  v  at  a  d   u  j  o
1      k  t  av  e  d   y  l  o
2     az  w   n  c  d   x  j  x
3     az  t   n  f  d   x  l  e
4     az  v   n  f  d   h  d  n
...   .. ..  .. .. ..  .. .. ..
4204  ak  s  as  c  d  aa  d  q
4205   j  o   t  d  d  aa  h  h
4206  ak  v   r  a  d  aa  g  e
4207  al  r   e  f  d  aa  l  u
4208   z  r  ae  c  d  aa  g  w

[4209 rows x 8 columns]

In [ ]:
### Consider first feature as Ordinal feature.

In [ ]:
# Types of encoding for ordinal features
# 1. Frequency Encoding
# 2. Target Guided based encoding(Categorical Features)
# 3. Label encoding
# 4. Mean encoding.

# Types of encoding for nominal features
# 1. Count encoding
# 2. One-hot encoding
# 3. Frequency encoding
# 4. Mean encoding

In [8]:
# Pretend feature1 in our dataset as both ordinal scale of measurement and norminal scale
# of measurement of Qualitative feature.

In [164]:
#using only feature1
df = df.iloc[:, :1]
print(df)

      X0
0      k
1      k
2     az
3     az
4     az
...   ..
4204  ak
4205   j
4206  ak
4207  al
4208   z

[4209 rows x 1 columns]

#### Ordinal encoding

In [24]:
# Label encoding -- It will give the vector for the words based on the alphabetical order.

from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
df = labelencoder.fit_transform(df)
df = pd.DataFrame(df)

In [25]:
# this is the result of Label Encoding. 
df

       0
0     32
1     32
2     20
3     20
4     20
...   ..
4204   8
4205  31
4206   8
4207   9
4208  46

[4209 rows x 1 columns]

In [141]:
# Frequency Encoding --> We will select the more number of repeated random variables inside
# a variable. We can choose the number based on our needs.

frequency = df.value_counts().sort_values(ascending = False).index.tolist()
frequency = [word[0] for word in frequency]

# In my case, my domain expertise says we need 10 top frequent random variables.
top_10_values = frequency[: 10]


# By using this, we will do a onehot encoding, so if the record contains any of the top 25 values
# it will have a 1, else all the columns will be 0


def onehot_encoding(df, feature, top_feature) :
    for i in top_feature :
        df[feature +"_"+ i] = np.where(df[feature] == i, 1, 0)

In [142]:
onehot_encoding(df, 'X0', top_10_values)
df.drop('X0', inplace = True, axis = 1)

In [147]:
# Result of Frequency Encoding
df

      X0_z  X0_ak  X0_y  X0_ay  X0_t  X0_x  X0_o  X0_f  X0_n  X0_w
0        0      0     0      0     0     0     0     0     0     0
1        0      0     0      0     0     0     0     0     0     0
2        0      0     0      0     0     0     0     0     0     0
3        0      0     0      0     0     0     0     0     0     0
4        0      0     0      0     0     0     0     0     0     0
...    ...    ...   ...    ...   ...   ...   ...   ...   ...   ...
4204     0      1     0      0     0     0     0     0     0     0
4205     0      0     0      0     0     0     0     0     0     0
4206     0      1     0      0     0     0     0     0     0     0
4207     0      0     0      0     0     0     0     0     0     0
4208     1      0     0      0     0     0     0     0     0     0

[4209 rows x 10 columns]

In [ ]:
# Mean Encoding --> In TGE, first we will find a mean value for all of the random
# variables and we will sort that random features and give the higher value for the label has
# higher mean

In [157]:
# Only for Regression problem
# Mean == Count

In [182]:
words_count = df['X0'].value_counts().index.tolist()

In [183]:
count = 0
for i in words_count :
    df[df['X0'] == i ] = count
    count += 1

In [184]:
# Results after the Mean encoding
df['X0']

0       35
1       35
2       11
3       11
4       11
        ..
4204     1
4205    10
4206     1
4207    17
4208     0
Name: X0, Length: 4209, dtype: object